.hidden {
    display:none;
}


/* table { 
    border: solid black 1px;
} */
/* 
body {
    text-align: center;
}
div {
    display: inline-block;
}
button {
    display: inline-block;
    padding: 10px 20px;
}
#table {
    display: block;
    margin-top: 20px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
} */

#Title:active {
    background-color: aqua;
}

#Artist:active {
    background-color: blueviolet;
}

#Genre:active {
    background-color: cornflowerblue
}

#Year:active {
    background-color: red
}

#Popularity:active {
    background-color: green;
}

.hide {
    display: none;
}


#table {
    border: solid black 1px;
    display: block;
    width: fit-content;
    margin: auto;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 10p 10px green;
    background-color: lightblue;
}




#searchView { 


}

.searchSelect {
    text-align: center;
}

#searchType {
    margin-top: 10px;
}

#viewPlaylist {
    position: relative;
    left: 455px;

}

#titleSearch, #artistSearch, #genreSearch {
margin-bottom: 10px;
}

#buttons {
    margin-bottom: 10px;
}

/* snack for credits */
#snack.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out.
    Delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#credits-snack {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: #3ad7da;

    text-align: center;
   
    padding: 10px;
    position: fixed;

    
}

#credits-snack.show {
    visibility: visible;
    -webkit-animation: fadein2 0.5s, fadeout2 0.5s 4.5s;
    animation: fadein2 0.5s, fadeout2 0.5s 4.5s;
}

/* snack for songs added */
#snack.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out.
    Delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snack {
    visibility: hidden;

    background-color: #3ad7da;

    text-align: center;
   
    padding: 10px;
    position: fixed;

    
}

#snack.show {
    visibility: visible;
    -webkit-animation: fadein2 0.5s, fadeout2 0.5s 4.5s;
    animation: fadein2 0.5s, fadeout2 0.5s 4.5s;
}
